:root {
    --light-gray: #EEEEEE;
    --light-blue: #1B9CE2;
    --dark: #333;
}

body {
  margin: 0;
  background-color: var(--light-gray);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  margin: 20px;
}


nav {
    background-color: #343a40;
    color: white;
    padding: 20px 30px;
}
nav h1 {
    margin: 0;
}

.textbox {
  border: 0;
  min-width: 200px;
  padding: 15px 20px;
  font-size: 16px;
  min-height: 22px;
  border-radius: 3px;
  transition: opacity 200ms ease-out;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  margin: 0 20px;
}

.label {
    font-weight: bold;
    display: block;
    margin: 15px 20px;
}

.table-container {
  margin: 20px;
}

table {
  width: 100%;
  color: #212529;
  border-collapse: collapse;
  line-height: 26px;
}

table th {
  color: white;
  background-color: var(--dark);
  border-color: #454d55;
  padding: .75rem;
  vertical-align: middle;
}
table td {
  text-align: center;
  padding: .75rem;
}
table tr:nth-of-type(even) td {
    background-color: rgba(0,0,0,.08);
}

.btn {
  background-color: var(--light-blue);
  color: white;
  border: 0;
  padding: 15px 20px;
  min-width: 100px;
  font-size: 16px;
  min-height: 50px;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 200ms ease-out;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  opacity: 0.8;
}

.failing {
  color: #F44336;
}
